version: "3.9"

services:
  fastapi-gpu:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-gpu
    restart: unless-stopped
    ports:
      - "8123:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - .:/workspace
