# version: "3.9"

# services:
#   fastapi-gpu:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     container_name: fastapi-gpu
#     restart: unless-stopped
#     ports:
#       - "8123:8000"
#     environment:
#       - NVIDIA_VISIBLE_DEVICES=all
#       - NVIDIA_DRIVER_CAPABILITIES=compute,utility
#     volumes:
#       - .:/workspace
#     runtime: nvidia















services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi_app_huynk
    ports:
      - "8128:8000"
    volumes:
      - .:/workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: always

